/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/dev/js/*
*.log
resources/release/js/*
releases
resources/dev/css
resources/release/css
resources/**/*.html
manifest.json
out/dev/out
out/extension/out
**/cljs-runtime
.tern-port
.shadow-cljs
node_modules
.cpcache
*.html
*.css
out/*.edn
resources/dev/out
resources/manifest-dev.edn
resources/manifest-release.edn
resources/release/out
