{:name "yank"
 :version "1.0.1"
 :description "Yank current page URL to clipboard as various markup formats"
 :manifest-version 2
 :homepage-url "https://github.com/roosta/yank"
 :permissions ["tabs"
               "clipboardWrite"
               "contextMenus"
               "storage"
               "<all_urls>"]
 :applications {:gecko {:id "yank@roosta.sh"}}
 :background {:persistent true}
 :shadow/outputs
 {:browser-action
  {:init-fn yank.browser-action/init}

  ;; :content-script
  ;; {:init-fn demo.chrome.content/init
  ;;  :chrome/options {:matches ["http://localhost:*/*"]
  ;;                   :run-at "document_idle"}}

  :background {:init-fn yank.background/init}}

 :browser-action
 {:default-title "Yank format"
  :default-icon {"16" "icon.svg"
                 "32" "icon.svg"}
  :browser-style true
  :default-popup "browser-action.html"}

 :content-security-policy
 ["script-src 'self' 'unsafe-eval'; object-src 'self'"]}
