{:source-paths ["src/extension"]
 :deps {:aliases [:cljs]}
 :builds {:extension {:target :chrome-extension
                      :manifest-file "resources/manifest-dev.edn"
                      :outputs {:popup
                                {:output-type :chrome/single-file
                                 :init-fn yank.browser-action/init}

                                :content-script
                                {:init-fn yank.content-script/init
                                 :chrome/options {:matches ["http://*/*"
                                                            "https://*/*"]
                                                  :run-at "document_end"
                                                  :all_frames true}}

                                :options
                                {:init-fn yank.options/init}

                                :background
                                {:init-fn yank.background/init}}
                      :compiler-options {:infer-externs :auto}
                      :release {:extension-dir "resources/release"
                                :manifest-file "resources/manifest-release.edn"}
                      :extension-dir "resources/dev"}}}
