{:source-paths ["src/extension"]
 :builds {:extension-dev {:target :chrome-extension
                          :manifest-file "manifest.edn"
                          :compiler-options {:infer-externs :auto}
                          :extension-dir "out/dev"}}}
