{:source-paths ["src/extension"]
 :builds {:dev {:target :chrome-extension
                :manifest-file "resources/manifest-dev.edn"
                :compiler-options {:infer-externs :auto}
                :extension-dir "resources/dev"}

          :release {:target :chrome-extension
                    :manifest-file "resources/manifest-release.edn"
                    :compiler-options {:infer-externs :auto}
                    :extension-dir "resources/release"}}}
